@use './index.scss' as global;
@use './mixins.scss' as mixins;

@mixin home-page-base(){
    width: 100%;
    display: flex;
    justify-content: center;
    scroll-behavior: smooth;
    overflow-y: scroll;
    max-height: 100dvh;
    img {
        max-width: 100%;
    }
    .main-grid {
        @include mixins.main-grid();
        height: 100%;
        width: 100%;
    }
    .section {
        display: grid;
        grid-template-columns: subgrid;
        grid-template-rows: subgrid;
        grid-column: 1/13;
        grid-row: span 13;
    }
    .furniture {
        display: flex;
        color: global.$text-secondary;
        a {
            color: global.$text-secondary;
        }
    }
    .titled-paragraph {
        display: flex;
        h2 {
            font-family: 'neue-machina';
            font-size: 1rem;
            color: global.$text-secondary;
            font-weight: 500;
        }
    }
    .section.title {
        .caption {
            color: global.$text-secondary;
        }
    }
    .attribution {
        font-style: italic;
        text-align: center;
        text-wrap: balance;
    }
    .sd-screenshot {
        span {
            color: black;
            font-family: 'source-sans-pro', sans-serif;
        }
    }
    .section.images {
        .ai-images {
            grid-column: 1/13;
            display: grid;
            z-index: -1;
        }
    }
    blockquote {
        .not {
            text-decoration: underline .2rem;
            text-underline-offset: .3rem;
        }
    }
    h1, h2, blockquote {
        text-wrap: balance;
        font-family: 'grafier', serif;
        margin: 0;
    }
    h1, h2, blockquote {
        transition: all, .5s;
    }
    .new-line {
        white-space: pre-line;
        display: block;
    }
}