@use './index.scss' as global;
@use './mixins.scss' as mixins;

@mixin home-page-desktop(){
    @include mixins.desktop {
        .desktop {
            display: block;
            visibility: visible;
        }
        .mobile {
            display: none;
            visibility: hidden;
        }
    }
}