@use './mixins.scss' as mixins;

// Font imports

@font-face {
  font-family: grafier;
  src: url('../public/fonts/PPGrafier-RegularDisplay.woff2') format('woff2');
  font-weight: 400;
}
@font-face {
  font-family: neue-machina;
  src: url('../public/fonts/PPNeueMachina-PlainLight.woff2') format('woff2');
  font-weight: 300;
}
@font-face {
  font-family: neue-machina;
  src: url('../public/fonts/PPNeueMachina-PlainLightItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: neue-machina;
  src: url('../public/fonts/PPNeueMachina-PlainMedium.woff2') format('woff2');
  font-weight: 500;
}
@font-face {
  font-family: neue-machina;
  src: url('../public/fonts/PPNeueMachina-PlainMediumItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: neue-machina;
  src: url('../public/fonts/PPNeueMachina-PlainRegular.woff2') format('woff2');
  font-weight: 400;
}
@font-face {
  font-family: neue-machina;
  src: url('../public/fonts/PPNeueMachina-PlainRegularItalic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: neue-machina;
  src: url('../public/fonts/PPNeueMachina-PlainThin.woff2') format('woff2');
  font-weight: 100;
}
@font-face {
  font-family: neue-machina;
  src: url('../public/fonts/PPNeueMachina-PlainThinItalic.woff2') format('woff2');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: neue-machina;
  src: url('../public/fonts/PPNeueMachina-PlainUltrabold.woff2') format('woff2');
  font-weight: 800;
}
@font-face {
  font-family: neue-machina;
  src: url('../public/fonts/PPNeueMachina-PlainUltraboldItalic.woff2') format('woff2');
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: source-sans-pro;
  src: url('../public/fonts/SourceSansPro-Regular.woff2') format('woff2');
  font-weight: normal;
}

// Colours
$bg-primary: #0400C0;
$text-primary: white;
$text-secondary: #FFE608;

// Universal styles
body {
  text-wrap: pretty;
  color: $text-primary;
  background-color: $bg-primary;
  background-color:hsla(0,100%,50%,1);
  background-image:
    radial-gradient(at 37% 91%, hsla(240,61%,9%,1) 0px, transparent 50%),
    radial-gradient(at 67% 38%, hsla(250,87%,36%,1) 0px, transparent 50%),
    radial-gradient(at 38% 41%, hsla(258,86%,37%,1) 0px, transparent 50%),
    radial-gradient(at 43% 10%, hsla(340,51%,17%,1) 0px, transparent 50%),
    radial-gradient(at 29% 94%, hsla(64,55%,4%,1) 0px, transparent 50%),
    radial-gradient(at 70% 76%, hsla(240,75%,8%,1) 0px, transparent 50%),
    radial-gradient(at 97% 72%, hsla(241,100%,37%,1) 0px, transparent 50%);
  margin: 0;
  font-family: 'neue-machina', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-size: 200% 200%;
	animation: gradient 15s ease-in-out infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.noise {
  @include mixins.noise();
  pointer-events: none;
}

a {
  color: $text-primary;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
