//Media queries for responsive design

@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}
@mixin desktop {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

//Other misc mixins
// Grids
@mixin main-grid {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-auto-rows: 4.375rem;
    gap: 0;
    max-width: 1728px;
    @include tablet {
        gap: 0.625rem;
    }
    @include desktop {
        gap: 1rem;
    }
}
